<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Manipulation</title>
    <link href="./style/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./scripts/main.js" defer></script> 
    <!-- defer forces the browser to load the file as soon as it encounters it, eliminating the need to put the script tags at the end of the body,
     i'd rather use that in order to keep the code cleaner -->
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p id="count" >{{nb}}</p>
        <button @click="increment">Increment</button>
        <button @click="showUpgrades">Show/Hide Upgrades</button>
        <div id="upgradeList" v-if="upgradesShown">
            <div class="upgrade" v-for="(up,index) in upgrades" :key="index">
                <h3>{{upgrades[index].title}}</h3>
                <p>{{upgrades[index].description}}</p>
                <button @click="processUpgrade(index)">Buy ({{upgrades[index].cost}} Cv)</button>
            </div>
        </div>
        <div v-else>
            <p>No upgrades shown</p>
        </div>
        <button @click="giveMax">Cheating</button>
        <button @click="passiveClick">sleepTest</button>
    </div>
</body>
</html>