<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Manipulation</title>
    <link href="./style/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./scripts/main.js" defer></script> 
    
    <!-- defer forces the browser to load the file as soon as it encounters it, eliminating the need to put the script tags at the end of the body,
     i'd rather use that in order to keep the code cleaner -->
</head>
<body>
    <div id="app">
        <button id="BTNSettings" @click="showSettings">
            <img src="./externalFiles/settings.svg" alt="settings">
        </button>
        <h1 class="text">{{title}}</h1>
        <h3 class="text">CVs per click : {{clickPower}} | Passive CVs : {{passiveCv}}</h3>
        <div id="counter">
            <h2 class="text">Applied to : </h2>
            <h2 id="count" class="text">{{Cv}}</h2>
            <h2 class="text">jobs</h2>
        </div>
        <button class="button" @click="increment" @keydown.i="increment" tabindex="0">Increment</button>
        <button class="button"  @click="showUpgrades">Show/Hide Upgrades</button>
        <template></template> 
        <div id="upgradeList" v-show="upgradesShown"> 
            <div class="upgrade" v-for="(up,index) in upgrades" :key="index">
                <div v-if="upgrades[index].cost!=-1">
                    <h3 class="text">{{upgrades[index].title}}</h3>
                    <p class="text">{{upgrades[index].description}}</p>
                    <p class="text">{{upgrades[index].effect}}</p>
                    <button class="button" @mouseenter="(event) => checkCost(index,event)" @click="processUpgrade(index)">Buy ({{upgrades[index].cost}} Cv)</button>
                </div>
                
            </div>
        </div>
        <div v-else>
            <p class="text" v-show="!upgradesShown">No upgrades shown</p>
        </div>
        <div v-show="settingsShown" class = "popup">
            <div class="BTNClose">
                <button @click="showSettings">
                    <img src="./externalFiles/close.svg" alt="leave">
                </button>
            </div>

            <h3>Change the interface</h3>
            <input type="color" id="col1">Background color</input>
            <input type="color" id="col2">Text color</input>

            <button class="button"  onclick="addTwoColors()">Add new theme</button>
            <table>
                <tbody>
                    <tr>
                        <!-- TODO : turn this & the functions into a vuejs thing -->
                        <th>Background Color</th>
                        <th>Text Color</th>
                    </tr>
                    <tr>
                        <td>AliceBlue </td>
                        <td>LightPink </td>
                    </tr>
                    <tr>
                        <td>teal </td>
                        <td>lemonChiffon </td>
                    </tr>
                    <tr>
                        <td>RoyalBlue</td>
                        <td>Orchid</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- i want to keep this behind a cheat code combination, i'd need to track any user input tho -->
        <button class="button" @click="giveMax">Cheating</button>
    </div>
</body>
</html>