body {
    display : flex;
    justify-content:center;
    background-color: aliceblue;
}
body div{
    display : flex;
    flex-direction: column;
    justify-content:center;
    max-width: 50vw;
}
#count{
        align-self: center;
        color:pink;
        font-size: 50px;
}
#BTNSettings{
        color : green;   
        /* TODO : find how to put this on the top right corner */
}
.button{
    background-color: transparent;
    border: dotted black;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1vh;
}

.BTNClose{
    background-color: transparent; 
    border: dotted black;
    border-radius: 15px;
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 2vw;
    margin-left: 38vw;
}
button:hover{
    cursor : pointer;
}


.popup, table, tr, th {
    border: 1px solid black;
}

.popup table tr:hover{
    border: 8px solid pink;
    cursor: pointer;
}
.popup,table, td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative; 
}

table td::after {
    content: ''; /* Contenu vide */
    position: absolute;
    left: 100%; /* Positionne la bordure à la fin de l'élément */
    bottom: 0; /* Aligne la bordure au bas de l'élément */
    width: 5px; /* Longueur de la bordure qui dépasse */
    height: 2px; /* Épaisseur de la bordure */
    background-color: black; /* Couleur de la bordure supplémentaire */
}



.popup {
    position: absolute;
    margin: 30vh auto 0;
    padding: 20px;
    
    width: 40vw;
    height: fit-content;
    
    border-radius: 20px;
    border: 3px solid rgba(209, 213, 219, 0.3);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.65);
    transition: all 200ms ease;
}
/* lot of things in this popup css are not relevant at all its just a copy from a past project */